#
# Configuration file
#
[mackerel]
# API Key of Mackerel
apikey = 
# base url for mackerel API
base_url = https://mackerel.io
# comma separated host IDs
host_ids = 

[splunk]
# Splunk HTTP Event collector endpoint url
hec_url = https://localhost:8088/services/collector
# HEC Token
token = 

# Logging

[loggers]
keys=root

[handlers]
keys=consoleHandler,errorHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler,errorHandler

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=simpleFormatter
args=(sys.stdout,)

[handler_errorHandler]
class=handlers.RotatingFileHandler
level=WARN
formatter=simpleFormatter
args=("error.log", 'a', 200*1024, 3)

[formatter_simpleFormatter]
format=%(asctime)s %(levelname)-7s %(module)s:%(lineno)s:%(funcName)s - %(message)s
datefmt=%Y-%m-%dT%H:%M:%S%z

